<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "accountMapper">
		<resultMap type="account" id="accountResult">
			<id property="ano" column="ano" />
			<result property="id" column="id" />
			<result property="pwd" column="pwd" />
			<result property="email" column="email" />
			<result property="pimage" column="pimage" />
			<result property="idtype" column="idtype" />
			<result property="idtoken" column="idtoken" />
			<result property="seller" column="seller" />
			<result property="outyn" column="outyn" />
			<result property="nickname" column="nickname" />
		</resultMap>
		<resultMap type="party" id="partyResult">
			<id property="pno" column="pno" />
			<result property="ano" column="ano" />
			<result property="pname" column="pname" />
			<result property="phone" column="phone" />
			<result property="intro" column="intro" />
			<result property="id_no" column="id_no" />
			<result property="president" column="president" />
			<result property="address" column="address" />
			<result property="pconfirm" column="pconfirm" />
			<result property="econfirm" column="econfirm" />
		</resultMap>
		<select id="login" parameterType="account" resultMap="accountResult">
		<![CDATA[
			SELECT
				*
			FROM
				ACCOUNT
			WHERE
				ID = #{id}	 AND PWD = ENCRYPTION_AES.ENC_AES(#{pwd})
		]]> 
	</select>
	<insert id="signupAccount" parameterType="account">
		<![CDATA[
			INSERT INTO	ACCOUNT (ano, id, pwd, email, idtype, seller, outyn, nickname)
			VALUES(seq_ano.nextval, #{id}, ENCRYPTION_AES.ENC_AES(#{pwd}), #{id}, '일반회원', 'N', 'N', #{nickname})	
		]]>
	</insert>
	<select id="loginParty" parameterType="int" resultMap="partyResult">
		<![CDATA[
			SELECT
				*
			FROM
				PARTY
			WHERE
				ANO = #{ano}
		]]>
	</select>
	
	<select id="selectOldPwd" parameterType="account" resultMap="accountResult" resultType="hashmap">
		<![CDATA[			
			SELECT ENCRYPTION_AES.DEC_AES(pwd) FROM ACCOUNT WHERE ANO=#{ano} 
		]]>
	</select>
	
	<update id="updatePwd" parameterType="hashmap">
		<![CDATA[
			UPDATE ACCOUNT SET pwd=ENCRYPTION_AES.ENC_AES(#{newPwd}) WHERE ano=#{ano}
		]]>
	</update>
</mapper>