<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<resultMap type="accInfo" id="accInfoResult">
		<id property="ano" column="ano" />
		<result property="id" column="id" />
		<result property="pname" column="pname" />
		<result property="id_no" column="id_no" />
		<result property="idtype" column="idtype" />
		<result property="phone" column="phone" />
		<result property="idimage" column="idimage" />
	</resultMap>
	<resultMap type="cancelInfo" id="cancelInfoResult">
		<id property="fund_no" column="fund_no" />
		<result property="pname" column="pname" />
		<result property="mname" column="mname" />
		<result property="funddate" column="funddate" />
		<result property="fcost" column="fcost" />
		<result property="payment" column="payment" />
		<result property="evidence" column="evidence" />
		<result property="id" column="id" />
		<result property="ano" column="ano" />
	</resultMap>
	<resultMap type="profitHash" id="profitHashResult">
		<id property="cname" column="cname" />
		<result property="sumcost" column="sumcost" />
	</resultMap>
	<select id="selectRequestSeller" resultMap="accInfoResult">
		<![CDATA[
			select a.ano as ano, a.id as id, p.pname as pname, substr(ENCRYPTION_AES.DEC_AES(p.id_no), 1, 6) AS id_no, a.idtype as idtype, p.phone as phone, p.idimage as idimage
			from account a join party p on (a.ano = p.ano)
			where idtype='승인요청중'
		]]>
	</select>
	<select id="selectCancelInfo" resultMap="cancelInfoResult">
		<![CDATA[
			select fl.fund_no as fund_no, i.pname as pname, fm.mname as mname, fl.funddate as funddate, fm.mcost * fl.fundcount as fcost, fl.payment as payment, fl.evidence as evidence, a.id as id, a.ano as ano  
			from item i join fundmenu fm on (i.pro_no = fm.pro_no)
			            join fundlist fl on (fm.mno = fl.mno)
			            join account a on (fl.ano = a.ano)
			where fl.funstatus = '취소요청중'
		]]>
	</select>
	<select id="totalProfit" parameterType="String" resultMap="profitHashResult">
		<![CDATA[
			select to_char(i.pedate,'mm') as cname, sum(nvl(fm.mcost,0) * nvl(fl.fundcount,0)) as sumcost
			from item i join fundmenu fm on (i.pro_no = fm.pro_no)
			            join fundlist fl on (fm.mno = fl.mno)
			where to_char(i.pedate, 'yyyy') = #{year}
			group by to_char(i.pedate,'mm')
			order by cname
		]]>
	</select>
	<select id="categoryProfit" parameterType="String" resultMap="profitHashResult">
		<![CDATA[
			select i.category as cname, sum(nvl(fm.mcost,0) * nvl(fl.fundcount,0)) as sumcost
		      from item i join fundmenu fm on (i.pro_no = fm.pro_no)
		                  join fundlist fl on (fm.mno = fl.mno)
		      where to_char(i.pedate, 'yyyy') = #{year}
		      group by i.category
		      order by sumcost desc
		]]>
	</select>
	<update id="approveCancel" parameterType="int">
		update fundlist set funstatus = '결제취소'
		where fund_no = #{fund_no}
	</update>
	<update id="rejectCancel" parameterType="int">
		update fundlist set funstatus = '결제완료'
		where fund_no = #{fund_no}
	</update>
</mapper>