<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<resultMap type="accInfo" id="accInfoResult">
		<id property="ano" column="ano" />
		<result property="id" column="id" />
		<result property="idtype" column="idtype" />
		<result property="phone" column="phone" />
		<result property="idimage" column="idimage" />
	</resultMap>
	<select id="selectRequestSeller" resultMap="accInfoResult">
		<![CDATA[
			select a.ano as ano, a.id as id, a.idtype as idtype, p.phone as phone, p.idimage as idimage
			from account a join party p on (a.ano = p.ano)
			where idtype='승인요청'
		]]>
	</select>
</mapper>