<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "attachmentMapper">
	<!-- <insert id="myprofileImg" parameterType="attachment">
		<![CDATA[
			INSERT INTO ATTACHMENT (fno, orifname, refname, ftype, refno)
			VALUES(seq_fno.nextval, #{orifname}, #{refname}, '회원정보이미지', #{ano})
		]]>
	</insert> -->
	<insert id="insertprofileImage" parameterType="attachment">
		<![CDATA[
			INSERT INTO ATTACHMENT (fno, orifname, refname, ftype, fsubtype, refno)
			VALUES(seq_fno.nextval, #{orifname}, #{refname}, #{ftype}, #{fsubtype}, #{refno})
		]]>
	</insert>
	<update id="updateprofileImage" parameterType="attachment">
		<![CDATA[
			UPDATE ATTACHMENT SET orifname=#{orifname}, refname=#{refname} 
			WHERE ftype=#{ftype} AND fsubtype=#{fsubtype} AND refno=#{refno}
		]]>
	</update>
	
	<insert id="insertSlideImages" parameterType="attachment">
		<![CDATA[
			INSERT INTO ATTACHMENT (fno, orifname, refname, ftype, fsubtype, refno, fnum)
			VALUES(seq_fno.nextval, #{orifname}, #{refname}, #{ftype}, #{fsubtype}, #{refno}, #{fnum})
		]]>
	</insert>
	
	<update id="accountProfileImage" parameterType="HashMap">
		<![CDATA[
			UPDATE ACCOUNT SET PIMAGE=#{pimage}
			WHERE ANO=#{ano}
		]]>
	</update>
	
	<insert id="insertTitleImage" parameterType="Integer">
		<![CDATA[
			INSERT INTO ATTACHMENT (fno, orifname, refname, ftype, fsubtype, refno)
			VALUES(seq_fno.nextval, null, null, 'item', 'titleimg', #{pro_no})
		]]>
	</insert>
	<insert id="insertMakerImage" parameterType="Integer">
		<![CDATA[
			INSERT INTO ATTACHMENT (fno, orifname, refname, ftype, fsubtype, refno)
			VALUES(seq_fno.nextval, null, null, 'item', 'makerimg', #{pro_no})
		]]>
	</insert>
	<update id="updateItemImages" parameterType="attachment">
		<![CDATA[
			UPDATE ATTACHMENT SET orifname=#{orifname}, refname=#{refname} 
			WHERE ftype=#{ftype} AND fsubtype=#{fsubtype} AND refno=#{refno}
		]]>
	</update>
	
	<insert id="insertIdImage">
		<![CDATA[
			INSERT INTO (fno, orifname, refname, ftype, refno, fsubtype) VALUES(seq_fno.nextval(), #{orifname}, #{refname}, #{ftype}, #{refno}, #{fsubtype})
		]]>
	</insert>

	<update id="updateImage">		
		<![CDATA[
			UPDATE ATTACHMENT SET orifname=#{orifname}, refname=#{refname} WHERE ftype=#{ftype} AND fsubtype=#{fsubtype} AND refno=#{refno}
		]]>
	</update>

	<update id="partyIdImage">
		<![CDATA[
		
		]]>
	</update>
	
	
</mapper>