<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fundMenuMapper">
	<resultMap type="fundMenu" id="fundMenuResult">
		<id property="mno" column="mno" />
		<result property="mname" column="mname" />
		<result property="mcost" column="mcost" />
		<result property="pro_no" column="pro_no" />
		<result property="mcontent" column="mcontent" />
		<result property="mdate" column="mdate" />
		<result property="s_mdate" column="s_mdate" />
		<result property="mnum" column="mnum" />
		<result property="mcount" column="mcount" />
		<result property="delyn" column="delyn" />
		<result property="dcost" column="dcost" />
		<result property="remain" column="remain" />
		<result property="fundcount" column="fundcount" />
	</resultMap>
	<resultMap type="fundMenufundList" id="fundMenuResult2">
		<id property="mno" column="mno" />
		<result property="mname" column="mname" />
		<result property="mcost" column="mcost" />
		<result property="pro_no" column="pro_no" />
		<result property="mcontent" column="mcontent" />
		<result property="s_mdate" column="s_mdate" />
		<result property="mdate" column="mdate" />
		<result property="mnum" column="mnum" />
		<result property="mcount" column="mcount" />
		<result property="delyn" column="delyn" />
		<result property="dcost" column="dcost" />
		<result property="remain" column="remain" />
	</resultMap>
	<select id="selectMlist" parameterType="int" resultMap="fundMenuResult">
select mno, mname, mcost, pro_no, mcontent, mdate, mnum, mcount, delyn, dcost, fundcount , (mcount - fundcount) as remain
from (select fm.mno as mno, mname, mcost, fm.pro_no as pro_no, mcontent, mdate, mnum, mcount, delyn, dcost , nvl(f1.fundcount, 0) as fundcount 
from fundmenu fm left join (select sum(fundcount) as fundcount, mno
                            from fundlist
                            group by mno) f1 on f1.mno=fm.mno)
where pro_no=#{pro_no}
order by mno
	</select>
	
	<select id="selectMlist2" parameterType="int" resultMap="fundMenuResult">
		select f2.mno, mname, mcost, f2.pro_no, mcontent, to_char(mdate, 'yyyy-mm-dd')as s_mdate, mnum, mcount, delyn, dcost , fundcount, (mcount - f1.fundcount) as remain
		from (select sum(fundcount)fundcount, mno
		         from fundlist
		         group by mno) f1
		right join fundmenu f2 on f1.mno=f2.mno
		where f2.pro_no = #{pro_no}
		order by f2.mno
	</select>

	<select id="selectMno" parameterType="FundMenu" resultMap="fundMenuResult">
		select mno from fundmenu where pro_no = #{pro_no} and mnum = #{mnum}
	</select>

	<insert id="insertFM" parameterType="FundMenu">
		insert into fundmenu values
		(seq_mno.nextval, #{mname, jdbcType=VARCHAR}, #{mcost,
		jdbcType=INTEGER}, #{pro_no}, #{mcontent, jdbcType=VARCHAR}, to_date(#{s_mdate,jdbcType=VARCHAR}, 'yyyy-mm-dd'), #{mnum}, #{mcount, jdbcType=INTEGER}, #{delyn,
		jdbcType=VARCHAR}, #{dcost, jdbcType=INTEGER})
	</insert>

	<update id="updateFM" parameterType="FundMenu">
		update fundmenu set mname =
		#{mname, jdbcType=VARCHAR}, mcost = #{mcost, jdbcType=INTEGER},
		mcontent = #{mcontent, jdbcType=VARCHAR}, mdate=to_date(#{s_mdate, jdbcType=VARCHAR},'yyyy-mm-dd'), mnum = #{mnum}, mcount = #{mcount, jdbcType=INTEGER}
		
		where mno=#{mno}
	</update>
	<select id="selectFM" parameterType="int" resultMap="fundMenuResult">
		select mno, mname, mcost, pro_no, mcontent, to_char(mdate, 'yyyy-mm-dd')as s_mdate, mnum, mcount, delyn, dcost
		from fundmenu 
		where mno = #{mno}
	</select>
</mapper>