<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemMapper">
	<resultMap type="item" id="itemResult">
		<id property="pro_no" column="pro_no" />
		<result property="ano" column="ano" />
		<result property="pname" column="pname" />
		<result property="pcontent" column="pcontent" />
		<result property="category" column="category" />
		<result property="psdate" column="psdate" />
		<result property="pedate" column="pedate" />
		<result property="s_psdate" column="s_psdate" />
		<result property="s_pedate" column="s_pedate" />
		<result property="pshort" column="pshort" />
		<result property="ecost" column="ecost" />
		<result property="refund" column="refund" />
		<result property="pvideo" column="pvideo" />
		<result property="pstatus" column="pstatus" />
		<result property="likecount" column="likecount" />
		<result property="sharelink" column="sharelink" />
		<result property="bankcode" column="bankcode" />
		<result property="accpnm" column="accpnm" />
		<result property="accnum" column="accnum" />
		<result property="cname" column="cname" />
		<result property="cs_email" column="cs_email" />
		<result property="cs_phone" column="cs_phone" />
		<result property="fundamount" column="fundamount" />
		<result property="fundcount" column="fundcount" />
		<result property="supportcount" column="supportcount" />
		<result property="upcount" column="upcount" />
		<result property="repcount" column="repcount" />
		<result property="thumbnail" column="thumbnail" />
		<result property="pimage" column="pimage" />
		<result property="billstatus" column="billstatus" />
		<result property="firstdeposit" column="firstdeposit" />
		<result property="seconddeposit" column="seconddeposit" />
		<result property="firstprice" column="firstprice" />
		<result property="secondprice" column="secondprice" />
		<result property="icomment" column="icomment" />
		<result property="checkacc" column="checkacc" />
	</resultMap>

	<resultMap type="itemfund" id="itemResult2">
		<id property="pro_no" column="pro_no" />
		<result property="nickname" column="nickname" />
		<result property="mcost" column="mcost" />
		<result property="pimage" column="pimage" />
	</resultMap>



	<insert id="insert" parameterType="Item">
		<![CDATA[
			insert into item values(seq_pro_no.nextval, #{ano}, null, null, null, null, null, null, 0, #{refund, jdbcType=VARCHAR}, null, '작성중', 0, null, null, null, null, null, null, null, null, null, null, 0, 0, null, '미인증')
		]]>

		<selectKey keyProperty="pro_no" resultType="Integer" order="AFTER">
			SELECT seq_pro_no.currval FROM dual
		</selectKey>
	</insert>

	<select id="selectList" parameterType="Item" resultMap="itemResult">
		<!-- <![CDATA[ select pro_no, ano, pname, pcontent, category, psdate, pedate, 
			pshort, ecost, refund, pvideo, pstatus, likecount, sharelink, bankcode, accpnm, 
			accnum, cname, cs_email, cs_phone from item ]]> -->
	        <![CDATA[
	         select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail, ac.pimage
			from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
			from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
			             join fundlist fl2 on (fm2.mno = fl2.mno)
			group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			left join (select i3.pro_no, count(fl3.ano) as fundcount
			           from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                        join fundlist fl3 on (fm3.mno = fl3.mno)
			           group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			             join fundlist fl3 on (fm3.mno = fl3.mno)
			group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)
                                   left join (select ano, pimage
                                                from account) ac on (ac.ano=i1.ano)
			]]>
	</select>

	<select id="selectOne" parameterType="int" resultMap="itemResult">
	        <![CDATA[
	        select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail, ac.pimage
			from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
			from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
			             join fundlist fl2 on (fm2.mno = fl2.mno)
			group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			left join (select i3.pro_no, count(fl3.ano) as fundcount
			           from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                        join fundlist fl3 on (fm3.mno = fl3.mno)
			           group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			             join fundlist fl3 on (fm3.mno = fl3.mno)
			group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)
			                  left join(select ano, pimage
                                    from account) ac on(ac.ano=i1.ano)      
	        where i1.pro_no= #{pro_no}
	  ]]>
	</select>


	<update id="tempupdate" parameterType="Item">
			<![CDATA[
				update item set pname=#{pname, jdbcType=VARCHAR}, pcontent=#{pcontent, jdbcType=VARCHAR}, category=#{category, jdbcType=VARCHAR}, psdate=to_date(#{s_psdate, jdbcType=VARCHAR},'yyyy-mm-dd'), pedate=to_date(#{s_pedate, jdbcType=VARCHAR}, 'yyyy-mm-dd'), pshort=#{pshort, jdbcType=VARCHAR}, ecost=#{ecost, jdbcType=INTEGER}, refund=#{refund, jdbcType=VARCHAR}, pvideo=#{pvideo, jdbcType=VARCHAR}, pstatus=#{pstatus, jdbcType=VARCHAR}, cname=#{cname, jdbcType=VARCHAR}, cs_email=#{cs_email, jdbcType=VARCHAR}, cs_phone=#{cs_phone, jdbcType=VARCHAR} where pro_no =#{pro_no}
	       ]]>
	</update>
	
	<update id="accupdate" parameterType="Item">
			<![CDATA[
				update item set bankcode=#{bankcode, jdbcType=VARCHAR}, accpnm=#{accpnm, jdbcType=VARCHAR}, accnum=#{accnum, jdbcType=VARCHAR}, checkacc=#{checkacc, jdbcType=VARCHAR} where pro_no =#{pro_no}
	       ]]>
	</update>
	
	<update id="updatestatus" parameterType="Item">
			<![CDATA[
				update item set pstatus=#{pstatus} where pro_no =#{pro_no}
	       ]]>
	</update>
	

	<select id="top3List" resultMap="itemResult">
			<![CDATA[
			select it.pro_no as pro_no, it.ano as ano, it.pname as pname, it.pcontent as pcontent, it.category as category,
			it.psdate as psdate, it.pedate as pedate, it.pshort as pshort, it.ecost as ecost, it.refund as refund, it.pvideo as pvideo,
			it.pstatus as pstatus, it.likecount as likecount, it.sharelink as sharelink, it.bankcode as bankcode, it.accpnm as accpnm,
			it.accnum as accnum, it.cname as cname, it.cs_email as cs_email, it.cs_phone as cs_phone, it.fundamount as fundamount, 
			it.fundcount as fundcount, it.supportcount as supportcount, it.upcount as upcount, it.repcount as repcount, it.thumbnail as thumbnail, it.billstatus as billstatus, it.firstdeposit as firstdeposit, it.seconddeposit as seconddeposit, it.firstprice as firstprice, it.secondprice as secondprice, it.icomment as icomment, it.checkacc as checkacc
						from(SELECT item.*, ROW_NUMBER() OVER (ORDER BY fundcount DESC) rnum
			     				FROM (select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail
			                  from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
			                  from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
			                               join fundlist fl2 on (fm2.mno = fl2.mno)
			                  group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			                  left join (select i3.pro_no, count(fl3.ano) as fundcount
			                             from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                                          join fundlist fl3 on (fm3.mno = fl3.mno)
			                             group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			                  left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			                            from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                                         join fundlist fl3 on (fm3.mno = fl3.mno)
			                            group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			                  left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)) item) it
			where rnum <= 3
	        ]]>
	</select>

	<select id="bestList" resultMap="itemResult2" parameterType="int">
		<![CDATA[select a.nickname, a2.mcost, a.pimage
		from account a join
		(select fl.ano, sum(fm.mcost) as mcost, rank() over (order by sum(fm.mcost)
		desc) as rank
		from item i join fundmenu fm on (i.pro_no=fm.pro_no)
		join fundlist fl on (fm.mno=fl.mno)
		where i.pro_no = 1
		group by fl.ano) a2
		on (a.ano = a2.ano)
		where rank <=3
		order by mcost desc ]]>
	</select>

	<select id="selectCategory" parameterType="String" resultMap="itemResult">
		<!-- <![CDATA[ select pro_no, ano, pname, pcontent, category, psdate, pedate, 
			pshort, ecost, refund, pvideo, pstatus, likecount, sharelink, bankcode, accpnm, 
			accnum, cname, cs_email, cs_phone from item ]]> -->
	        <![CDATA[
	        select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail
			from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
			from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
			             join fundlist fl2 on (fm2.mno = fl2.mno)
			group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			left join (select i3.pro_no, count(fl3.ano) as fundcount
			           from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                        join fundlist fl3 on (fm3.mno = fl3.mno)
			           group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			             join fundlist fl3 on (fm3.mno = fl3.mno)
			group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)
			where i1.category = #{category}
			]]>
	</select>
	<update id="plusItemLike" parameterType="int">
		update item set likecount = (select likecount
												  from item
												  where pro_no = #{pro_no}) + 1
		where pro_no = #{pro_no}										  
	</update>
	<update id="minusItemLike" parameterType="int">
		update item set likecount = (select likecount
												  from item
												  where pro_no = #{pro_no}) - 1
		where pro_no = #{pro_no}										  
	</update>
	<select id="selectMyItems" parameterType="int" resultMap="itemResult">
		select ia.*
from myitem mi1 left join (select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail
                          from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
                          from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
                                       join fundlist fl2 on (fm2.mno = fl2.mno)
                          group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
                          left join (select i3.pro_no, count(fl3.ano) as fundcount
                                     from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
                                                  join fundlist fl3 on (fm3.mno = fl3.mno)
                                     group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
                          left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
                          from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
                                       join fundlist fl3 on (fm3.mno = fl3.mno)
                          group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
                          left join (select i.pro_no, count(p.upno) as upcount
                                                       from item i left join pupdate p on (i.pro_no = p.pro_no)
                                                       group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
                                            left join (select i.pro_no, count(ia.ask_no) as repcount
                                                       from item i left join (select ask_no, pro_no
                                                                              from itemask
                                                                              where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
                                                       group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
                                            left join (select refno, refname as thumbnail 
                                                       from attachment
                                                       where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)) ia on (mi1.pro_no = ia.pro_no)
							where mi1.ano = #{ano} and ia.category != 'pinterest'
	</select>

	<select id="selectNewProject" parameterType="int" resultMap="itemResult">
			    <![CDATA[
   select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail, ac.pimage
			from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
										from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
										             join fundlist fl2 on (fm2.mno = fl2.mno)
										group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			left join (select i3.pro_no, count(fl3.ano) as fundcount
			           from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                        join fundlist fl3 on (fm3.mno = fl3.mno)
			           group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			             join fundlist fl3 on (fm3.mno = fl3.mno)
			group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)
                                   left join (select ano, pimage
                                                from account) ac on (ac.ano=i1.ano)
    where i1.ano=#{ano}
	  ]]>
	</select>

	<select id="selectRequestItem" resultMap="itemResult">
	        <![CDATA[
	         select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail, ac.pimage
			from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
			from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
			             join fundlist fl2 on (fm2.mno = fl2.mno)
			group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			left join (select i3.pro_no, count(fl3.ano) as fundcount
			           from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                        join fundlist fl3 on (fm3.mno = fl3.mno)
			           group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			             join fundlist fl3 on (fm3.mno = fl3.mno)
			group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)
                                   left join (select ano, pimage
                                                from account) ac on (ac.ano=i1.ano)
            where i1.pstatus = '승인요청'
			]]>
	</select>
	<select id="selectDeleteRequest" resultMap="itemResult">
		<![CDATA[
	         select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail, ac.pimage
			from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
			from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
			             join fundlist fl2 on (fm2.mno = fl2.mno)
			group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			left join (select i3.pro_no, count(fl3.ano) as fundcount
			           from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                        join fundlist fl3 on (fm3.mno = fl3.mno)
			           group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			             join fundlist fl3 on (fm3.mno = fl3.mno)
			group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)
                                   left join (select ano, pimage
                                                from account) ac on (ac.ano=i1.ano)
            where i1.pstatus = '삭제요청'
			]]>
	</select>
	<select id="selectEndItem" resultMap="itemResult">
		<![CDATA[
	         select i1.*, nvl(i2.fundamount, 0) fundamount , nvl(i3.fundcount, 0) as fundcount, nvl(i4.supportcount, 0) as supportcount, nvl(i5.upcount, 0) as upcount, nvl(i6.repcount, 0) as repcount, i7.thumbnail as thumbnail, ac.pimage
			from item i1 left join (select i2.pro_no, nvl(sum(fm2.mcost), 0) as fundamount 
			from item i2 join fundmenu fm2 on (i2.pro_no = fm2.pro_no)
			             join fundlist fl2 on (fm2.mno = fl2.mno)
			group by i2.pro_no) i2 on(i1.pro_no = i2.pro_no)
			left join (select i3.pro_no, count(fl3.ano) as fundcount
			           from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			                        join fundlist fl3 on (fm3.mno = fl3.mno)
			           group by i3.pro_no) i3 on(i1.pro_no = i3.pro_no)
			left join (select i3.pro_no, count(distinct fl3.ano) as supportcount
			from item i3 join fundmenu fm3 on (i3.pro_no = fm3.pro_no)
			             join fundlist fl3 on (fm3.mno = fl3.mno)
			group by i3.pro_no) i4 on(i1.pro_no = i4.pro_no)
			left join (select i.pro_no, count(p.upno) as upcount
			                             from item i left join pupdate p on (i.pro_no = p.pro_no)
			                             group by i.pro_no) i5 on (i1.pro_no = i5.pro_no)
			                  left join (select i.pro_no, count(ia.ask_no) as repcount
			                             from item i left join (select ask_no, pro_no
			                                                    from itemask
			                                                    where ask_type='댓글') ia on(i.pro_no = ia.pro_no)
			                             group by i.pro_no) i6 on (i1.pro_no = i6.pro_no)
			                  left join (select refno, refname as thumbnail 
			                             from attachment
			                             where ftype='item' and fsubtype='thumbnail') i7 on(i1.pro_no = i7.refno)
                                   left join (select ano, pimage
                                                from account) ac on (ac.ano=i1.ano)
            where i1.pedate < sysdate and i1.pstatus = '승인완료'
            order by i1.pedate
			]]>
	</select>
	<update id="updateConfirmStatus" parameterType="int">
		update item set pstatus = '승인완료'
		where pro_no = #{pro_no}
	</update>
	<update id="updateRejectStatus" parameterType="HashMap">
		update item set pstatus = '승인거부', icomment = #{comment}
		where pro_no = #{pro_no}
	</update>
	<update id="updateDeleteStatus" parameterType="HashMap">
		update item set pstatus = '삭제', icomment = #{comment}
		where pro_no = #{pro_no}
	</update>
	
	<update id="updateFailStatus" parameterType="HashMap">
		update item set pstatus = '펀딩실패', icomment = #{comment}
		where pro_no = #{pro_no}
	</update>
	
	<select id="selectOneForUpdate" parameterType="int" resultMap="itemResult" >
		<![CDATA[
			select pname, pcontent, to_char(psdate, 'yyyy-mm-dd')as s_psdate, to_char(pedate, 'yyyy-mm-dd')as s_pedate, pshort, ecost, category,
			refund, pvideo, bankcode, accpnm, accnum, cname, cs_email, cs_phone, checkacc
			from item
			where pro_no = #{pro_no}
		]]>
	</select>
	<select id="selectItemList" parameterType="int" resultMap="itemResult" >
		<![CDATA[
			select pro_no from item where ano=#{ano}
			
		]]>
	</select>
	
	<update id="updateSuccessStatus" parameterType="int">
		<![CDATA[
		update item set pstatus = '펀딩성공'
		where pro_no = #{pro_no}
		]]>
	</update>
	
</mapper>