<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "myItemMapper">
	<resultMap type="myitem" id="myitemResult">
			<id property="mpro_no" column="mpro_no" />
			<result property="pro_no" column="pro_no" />
			<result property="mptype" column="mptype" />
			<result property="ano" column="ano" />
	</resultMap>
	<insert id="insertMyitem" parameterType="HashMap">
		insert into myitem values(seq_mpro_no.nextval, #{pro_no}, 'pick', #{ano})
	</insert>
	<delete id="deleteMyitem" parameterType="HashMap">
		delete from myitem where pro_no = #{pro_no} and mptype = 'pick' and ano = #{ano}
	</delete>
	<select id="selectLike" parameterType="int" resultMap="myitemResult">
		select * from myitem
		where ano = #{ano} and mptype='pick'
	</select>
</mapper>