<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD mapper 3.0//en"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "noticeMapper">
<resultMap type="notice" id="noticeResult">
<id property="nno" column="nno" />
<result property="ntitle" column="ntitle" />
<result property="ncontent" column="ncontent" />
<result property="ndate" column="ndate" />
<result property="upbno" column="upbno" />
<result property="bname" column="bname" />
<result property="readcount" column="readcount"/>
<result property="nickname" column="nickname" />
</resultMap>

	<select id="selectList" parameterType="HashMap" resultMap="noticeResult">
		select nno, ntitle, ncontent, ndate, upbno, bname, readcount, nickname from
		(select ranks, nno, ntitle, ncontent, ndate, upbno, bname, readcount, ano from
		(select rank() over(order by nno) ranks, nno, ntitle, ncontent, ndate, upbno, bname, readcount, ano
		 from notice n , board b where n.bno = b.bno and (upbno = 0 and n.bno = #{bno})) where ranks between #{sNum} and #{eNum}) x, account a 
		 where x.ano =a.ano
	</select>
	
	<select id="searchTitle" parameterType="HashMap" resultMap="noticeResult">
		select nno, ntitle, ncontent, ndate, upbno, bname, readcount, nickname from
		(select ranks, nno, ntitle, ncontent, ndate, upbno, bname, readcount, ano from
		(select rank() over(order by nno) ranks, nno, ntitle, ncontent, ndate, upbno, bname, readcount, ano
		 from notice n , board b where n.bno = b.bno and (upbno = 0 and n.bno = #{bno})) where ranks between #{sNum} and #{eNum}) x, account a 
		 where x.ano =a.ano and ntitle like '%'||#{title}||'%'
	</select>
	
	<select id="getListCount" parameterType="HashMap" resultType="int">
	select count(*) from notice where bno = #{bno} and upbno = #{upbno}
	</select>
	
	<select id="getListCountWithTitle" parameterType="HashMap" resultType="int">
	select count(*) from notice where bno = #{bno} and ntitle like '%'||#{title}||'%'
	</select>
	
	<select id="selectOne" parameterType="int" resultType="notice">
	select nno, ntitle, ncontent, ndate, upbno, bname, readcount, nickname from notice n, account a, board b where
	  n.ano = a.ano and b.bno = n.bno and n.nno = #{nno}   
	</select>
	
	<select id="selectDetailList" parameterType="HashMap" resultMap="noticeResult" >
	
	select nno, ntitle, ncontent, ndate, upbno, bname, readcount, nickname from
		(select ranks, nno, ntitle, ncontent, ndate, upbno, bname, readcount, ano from
		(select rank() over(order by nno) ranks, nno, ntitle, ncontent, ndate, upbno, bname, readcount, ano
		 from notice n , board b where n.bno = b.bno and (upbno = #{upbno} and n.bno = #{bno}))) x, account a 
		 where x.ano =a.ano
	</select>
	
	<select id="getReplyCount" parameterType="int" resultType="int">
	select count(*) from notice where upbno = #{nno} and  nno != #{nno}
	</select>
	
	<update id="addReadCount" parameterType="int">
	update notice
	set readcount = readcount + 1 where nno = #{nno}
	</update>
	
	<!-- 게시판 댓글 공용으로 쓰느 update -->
	<update id="update" parameterType="notice">
	update notice
	set ntitle = #{ntitle}, ncontent = #{ncontent}
	</update>
	
	<insert id="insertNotice" parameterType="notice">
	insert into notice
	values(seq_nno.nextval, #{bno}, #{ntitle}, #{ncontent}, sysdate, #{upbno}, 0, #{ano})
	</insert>
	
	<delete id="delete" parameterType="HashMap">
	delete from notice
	where nno = #{nno} and upbno = #{upbno}
	
	</delete>
	
</mapper>